
.detail-box{
    background-color: #eeeeee;
    height: 500px;
    display: inline-flex;
   
    
    img{
        margin: 80px 0px 0px 0px;
        width: 200px;
        height: 250px;

        @include tablet{
            width: 300px;
            height: 350px;
        }

        @include desktop{
            margin: 0px 20px 0px 20px;
            width: 350px;
            height: 500px;
        }
        
    }
    .detail-title{
        display: block;
        margin-top: 30px;
        font-weight: 800;
        font-size: 20px;

        @include tablet{
            font-size: 30px;
        }
    }
    .detail-description{
        font-size: 15px;
        text-align: justify;

        @include tablet{
            font-size: 20px;
        }
    }

    .detail-icon{
        margin-top: 10px;
        color: red;
    }
}

.icon-comment{
    border-radius: 50%;
    border-style: solid;
    border-color: $deepblue;
    color: $deepblue;
}

