@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  font-family: "Days One", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .header {
    font-family: "Days One", sans-serif;
    font-size: 36px;
    line-height: 44px;
  }
}

.subheader {
  color: rgba(50, 50, 50, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .subheader {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

.primary-btn {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 10, 255, 0.5);
  color: #fff;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .primary-btn {
    width: 130px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .primary-btn {
    width: 188px;
    height: 58px;
  }
}

.primary-btn:hover,
.primary-btn :active {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: rgba(0, 10, 255, 0.8);
}

.register-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register-btn .btn {
  color: white;
  background-color: #02487a;
  opacity: 1;
}

.register-btn .btn:hover {
  color: #02487a;
  background-color: #fff;
  border-color: #02487a;
  border-style: solid;
  border-width: 2px;
}

.icon-me {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-radius: 50%;
  border-color: #02487a;
  color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #02487a;
}

.icon-me:hover {
  color: #02487a;
  background-color: white;
}

.input-group .form-control {
  border-color: #02487a;
  border-radius: 8px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  text-align: center;
}

.banner {
  height: 75vh;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .banner {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .banner {
    padding: 0 180px;
  }
}

.banner__contents {
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 2rem 1rem;
}

.banner__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-size: 32px;
  color: #fff;
}

@media (min-width: 768px) {
  .banner__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1440px) {
  .banner__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
  }
}

.banner__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #f0f0f0;
  margin-top: 2rem;
  max-width: 768px;
}

@media (min-width: 768px) {
  .banner__desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

.icon-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  margin-bottom: 10px;
}

.icon-menu__icons {
  margin-left: 1rem;
}

.icon-menu__star {
  color: #f8c615;
}

.icon-menu__heart {
  color: #ff0000;
}

.icon-menu__play {
  color: #fff;
  margin-right: 1rem;
}

.movie-pic .row {
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 40px;
  margin-right: 40px;
}

.image-container {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover h6 {
  color: #02487a;
  opacity: 1;
  padding: 0%;
  margin: 0%;
}

.image-container .overlay {
  position: absolute;
  background: #fff;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
  overflow-y: scroll;
}

.image-container .popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
  color: blue;
}

.image-container .popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.image-container .popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.image-container .popup .content .plot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.image-container .popup .content .plot img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.image-container .popup .content .plot p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 15px;
}

.image-container .popup .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  background: cadetblue;
  color: chocolate;
  border-radius: 8px;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.image-container .popup .content .close:hover {
  background: cyan;
}

.detail-box {
  background-color: #eeeeee;
  height: 500px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.detail-box img {
  margin: 80px 0px 0px 0px;
  width: 200px;
  height: 250px;
}

@media (min-width: 768px) {
  .detail-box img {
    width: 300px;
    height: 350px;
  }
}

@media (min-width: 1440px) {
  .detail-box img {
    margin: 0px 20px 0px 20px;
    width: 350px;
    height: 500px;
  }
}

.detail-box .detail-title {
  display: block;
  margin-top: 30px;
  font-weight: 800;
  font-size: 20px;
}

@media (min-width: 768px) {
  .detail-box .detail-title {
    font-size: 30px;
  }
}

.detail-box .detail-overview {
  font-size: 15px;
  text-align: justify;
  text-overflow: ellipsis;
  overflow-x: scroll;
  max-height: 210px;
}

@media (min-width: 768px) {
  .detail-box .detail-overview {
    font-size: 20px;
  }
}

.detail-box .detail-icon {
  margin-top: 10px;
  color: red;
}

.icon-comment {
  border-radius: 50%;
  border-style: solid;
  border-color: #02487a;
  color: #02487a;
}

.login-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-card {
  border-radius: 30px;
  background-color: #fff;
  min-width: 50%;
  max-width: 70%;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

.login-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 5%;
}

.login-card__title {
  font-family: "Days One", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .login-card__title {
    font-family: "Days One", sans-serif;
    font-size: 36px;
    line-height: 44px;
  }
}

.login-card__text {
  min-width: 180px;
}

.login-card__link {
  color: rgba(0, 10, 255, 0.5);
}

.login-card__link:hover {
  color: #f0f0f0;
}

.login-card__field {
  margin-bottom: 1rem;
}

.login-card__control {
  width: 100%;
}

.login-card__input {
  width: 320px;
  border-radius: 5px;
  border-color: #323232;
  padding: 10px 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.login-card__button {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 10, 255, 0.5);
  color: #fff;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 100% !important;
}

@media (min-width: 768px) {
  .login-card__button {
    width: 130px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .login-card__button {
    width: 188px;
    height: 58px;
  }
}

.login-card__button:hover,
.login-card__button :active {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: rgba(0, 10, 255, 0.8);
}
/*# sourceMappingURL=main.css.map */