.banner {
  height: 75vh;
  object-fit: contain;
  display: flex;
  @include padding-offset;
  &__contents {
    position: relative;
    background-color: $black-60;
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin: 2rem 1rem;
  }
  &__title {
    @include hero-header;
    font-size: 32px;
    color: $white;
  }
  &__desc {
    @include text;
    color: $offwhite;
    margin-top: 2rem;
    max-width: 768px;
  }
}

.icon-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 10px;
  &__icons {
    margin-left: 1rem;
  }
  &__star {
    color: $yellow;
  }
  &__heart {
    color: $red;
  }
  &__play {
    color: $white;
    margin-right: 1rem;
  }
}
