.header {
  @include header;
}

.subheader {
  color: $black-60;
  @include subheader;
}

.text {
  @include text;
}

.primary-btn {
  @include primary-btn;
}

.register-btn{
  display: flex;
  
  .btn{
    color: white;
    background-color: $deepblue;
    opacity: 1;
    &:hover{
      color: $deepblue;
      background-color: $white;
      border-color: $deepblue;
      border-style: solid;
      border-width: 2px;
    }
  }
}

  .icon-me{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-radius: 50%;
    border-color: $deepblue;
    color: $white;
    object-fit: cover;
    background-color: $deepblue;
    &:hover{
      color: $deepblue;
      background-color: white;
    }
  }

.input-group{
  .form-control{
  
    border-color: $deepblue;
  border-radius: 8px;
  transition: 0.4s ease-out;
  text-align: center;
  }
}