.header {
  @include header;
}

.subheader {
  color: $black-60;
  @include subheader;
}

.text {
  @include text;
}

.primary-btn {
  @include primary-btn;
}

.register-btn{
  display: flex;
  
  .btn{
    color: white;
    background-color: $blue;
    opacity: .5;
  }
}

.iconme{
  .icon-me{
    margin: 0;
    border: rebeccapurple;
    border: solid;
    border-radius: 50%;
    padding: 2%;
    
  }
}