.movie-pic{
    .row{
        overflow-x: auto;
        flex-wrap: nowrap;
        
    }
}

.image-container{
    position: relative;
    transition: transform 0.2s;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

}