// Media width //
$tablet-width: 768px;
$desktop-width: 1440px;

// Color //
$blue: #000aff;
$blue-50: rgba($blue, 0.5);
$black: #323232;
$black-60: rgba($black, 0.5);
$white: #fff;
$white-50: rgba($white, 0.5);
$yellow: #f8c615;
$red: #ff0000;
